agnprocesses.py
*.out
auxiliary.py
*__pycache__*
*.log
trash.py
test_figures/*
processes/c_codes/PhotoHadron/input/*
processes/c_codes/PhotoHadron/output/*
*.pyc
*.o
*.so
processes/c_codes/BHPairProduction/input/*
processes/c_codes/BHPairProduction/output/*
processes/c_codes/GammaGammaPairProduction/input/*
processes/c_codes/GammaGammaPairProduction/output/*
processes/c_codes/InverseComptonInteractionRate/input/*
processes/c_codes/InverseComptonInteractionRate/output/*
*.npy
data/Timur_cascades/Archive/*
data/Aharonian08a_pair_production_cross_check
data/greybody_spectrum_recheck
data/PKS1510-089/0*
data/PKS1510-089/gamma-gamma_interaction_rate
data/torch/*
.ipynb_checkpoints/*
