agnprocesses.py
*.out
auxiliary.py
*__pycache__*
*.log
trash.py
test_figures/*
processes/c_codes/PhotoHadron/input/*
processes/c_codes/PhotoHadron/output/*
*.pyc
*.o
*.so
processes/logs/*
processes/c_codes/BHPairProduction/input/*
processes/c_codes/BHPairProduction/output/*
processes/c_codes/GammaGammaPairProduction/input/*
processes/c_codes/GammaGammaPairProduction/output/*
processes/c_codes/GammaGammaInteractionRate/input/*
processes/c_codes/GammaGammaInteractionRate/output/*
*.npy
